.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 100vw;
  min-height: 100vh;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.App h1 {
  font-size: 2rem;
  font-weight: bold;
  margin: 1rem;
}

.line {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 1rem;
  padding: 0 1rem;
}

.chat-entry-form {
  padding: 0 1rem;
}


.http {
  color: red;
}

@media (max-width: 768px) {
  .line {
    flex-direction: column;
  }
}
